/core-bc/modules/portlet/src/main/resources/rebel.xml

.DS_Store

.settings/*
.classpath
.project

core-bc/composites/schema/target/*
core-bc/composites/svc/target/*
core-bc/composites/types/target/*
core-bc/composites/webcomp/target/*
core-bc/modules/portlet/target/*

core-bc/composites/schema/.settings/*
core-bc/composites/svc/.settings/*
core-bc/composites/types/.settings/*
core-bc/composites/webcomp/.settings/*
core-bc/modules/portlet/.settings/*

