Place the real file like {user.home}/.hotell/gothia-actor/secret.properties.

#************************************
#       Service configuration
#************************************


# Solr serve1r location
solr.service=
solr.user=
solr.password=